.contact {
  margin-top: 20px;
  .container {
    font-size: 0.875rem;

    max-width: 1200px;
    border: thin solid #eee;
    width: 100%;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .container .breadscrum {
    background: #f9f9f9f9;
    font-weight: 500;
    display: flex;
    border-bottom: thin solid #eee;
    padding: 10px;
  }
  .container .breadscrum li {
    margin-right: 10px;
  }
  .container .container-form {
    font-size: 0.875rem;
    padding: 1rem 10px;
  }
  .container-form {
    display: flex;
  }
  .left-content,
  .right-content {
    padding: 0 12px;
    width: 50%;
  }
  .header-text {
    font-size: 1rem;
    font-weight: 700;
  }
  .left-content form {
    border: thin solid #eee;
    margin-top: 1rem;
    padding: 1rem;
  }
  .mb {
    margin-bottom: 10px !important;
  }
  .input-row {
    display: flex;
  }
  .lb-col {
    align-items: center;
    padding: 0 12px;
    display: flex;
  }
  .lb-col span,
  .lb-col1 span {
    color: #d0021a;
  }
  .input-col,
  .lb-col {
    width: 50%;
  }
  .input-col1 {
    width: 70%;
  }
  .lb-col1 {
    width: 30%;
  }
  #select {
    min-height: 40px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 16px 12px;
    border: thin solid #eee;
    border-radius: 0.25rem;
    display: block;
    font-size: 0.875rem;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  }
  .input-col1 input,
  .input-col1 textarea {
    border: thin solid #eee;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    min-height: 30px;
    padding: 10px;
    width: 100%;
    min-height: 40px;
    outline: none;
  }
  .input-row > input {
    min-height: 40px;
    width: 100%;
    padding: 10px;
    border: thin solid #eee;
    border-radius: 4px;
    outline: none;
  }
  .right-content p {
    margin-bottom: 10px;
  }
  .top-right-content {
    border-bottom: thin solid #eee;
    border-top: thin solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 1rem;
  }
  .top-right-content h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .sub-top-right-content {
    padding-left: 3rem;
    position: relative;
  }
  .right-content-mark {
    color: #eee;
    font-size: 120px;
    left: 0;
    line-height: 1;
    position: absolute;
    top: -5px;
  }
  .__map {
    display: flex;
    &__address {
      width: 40%;
      padding: 16px;
      background: #f6f6f6;
      .__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        padding-bottom: 10px;
        border-bottom: thin solid #3333;
      }
      .__sub {
        font-size: 14px;
        line-height: 21px;
        margin: 8px 0px 8px;
      }
      .__phone {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container-form {
    display: flex;
    flex-direction: column;
    padding: initial;
    padding: 0 !important;
    .header-text {
      border-bottom: thin solid #eee;
      padding: 15px 12px;
    }
    .left-content,
    .right-content {
      padding: 0 12px;
      width: 100%;
    }
    .input-col {
      width: 100% !important;
    }
    .left-content {
      padding: 0;
      .lb-col {
        padding: 0 !important;
      }
      .input-row {
        display: flex;
        flex-direction: column;
        .input-col1,
        .lb-col {
          width: 100%;
          margin-bottom: 10px;
        }
        .inout-col1 {
          label {
            margin-bottom: 10px;
          }
        }

        .input-col select {
          width: 100% !important;
          padding-right: 100%;
        }
      }
    }
    .top-right-content,
    .sub__text {
      padding: 10px;
    }
    .top-right-content {
      margin-top: 20px;
    }
    .right-content {
      padding: 0 !important;
    }
    .__map {
      display: flex;
      flex-direction: column;
      &__address {
        width: 100%;
        padding: 16px;
        background: #f6f6f6;
      }
      iframe {
        display: none;
      }
    }
  }
}
