.filter__container {
  max-width: 1200px;
  margin: auto;
  .group_filter {
    $parent: &;
    background-color: #f9f9f9;
    margin-top: 20px;
    padding: 10px 18px;

    .filter_item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &__funnel {
        margin-right: 10px;
        position: relative;
        min-width: 130px;
        .item_button {
          min-height: 32px;
          background-color: #fed100;
          border-radius: 4px;
          cursor: pointer;
          padding-left: 10px;
          padding-right: 26px;
          border: none;
          color: #333;
          position: relative;
          font-size: 14px;
        }

        .dropdown-toggle::after {
          display: none;
        }

        .show > .btn-secondary.dropdown-toggle {
          background-color: #fed100;
          border-color: transparent;
          color: #333;
        }

        .icon_funnel {
          &::before {
            content: "";
            background: url(../images/download.svg) no-repeat center center;
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-right: 5px;
          }
        }

        .content_funnel {
          max-width: 700px;
          display: block;
          min-width: 305px;
          background-clip: padding-box;
          background-color: #fff;
          border: 1px solid #eee;
          min-width: 100%;
          position: absolute;
          top: 50px;
          z-index: 1000;

          .icon_drop {
            display: block;
            height: 0.5rem;
            left: -16px;
            position: absolute;
            top: calc(-0.8rem - 1px px);
            transform: translate(55px);
            width: 1rem;

            &::before {
              border-color: transparent transparent #eee;
              border-style: solid;
              border-width: 0 0.8rem 0.8rem;
              content: "";
              display: block;
              position: absolute;
              top: -13px;
            }
          }

          .title {
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
            border-bottom: 1px solid #eee;

            > p {
              margin: 0;
              font-weight: bold;
              font-size: 16px;
            }

            > button {
              background-color: #fff;
              border: thin solid #eee;
              border-radius: 4px;
              cursor: pointer;
              padding-left: 10px;
              padding-right: 10px;
              font-size: 14px;
            }
          }

          .choose_filter {
            max-height: 442px;
            overflow: auto;
            .choose_netword {
              border-bottom: thin solid #eee;
              padding: 1rem 1rem 0.5rem;
              p {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                font-weight: bold;
              }
              .logo_netword {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -5px;
                margin-right: -5px;
                span {
                  align-items: center;
                  border: 1px solid #eee;
                  cursor: pointer;
                  display: flex;
                  font-size: 0.875rem;
                  justify-content: center;
                  margin-bottom: 0.5rem;
                  margin-left: 5px;
                  margin-right: 5px;
                  min-width: calc(20% - 10px);
                  padding: 0.5rem;
                  &:hover {
                    border: 1px solid #4a90e2;
                  }
                }
                &__icon {
                  background-position: 50%;
                  background-repeat: no-repeat;
                  background-size: contain;
                  display: inline-block;
                  background-image: url(../images/ic_viettel.svg);
                  width: 130px;
                  height: 32px;
                  &-mobi {
                    background-image: url(../images/mobi.svg);
                  }
                  &-vina {
                    background-image: url(../images/vina.svg);
                  }
                  &-vietnam {
                    background-image: url(../images/vietnam.svg);
                  }
                  &-mobile {
                    background-image: url(../images/mobile.svg);
                  }
                  &-itele {
                    background-image: url(../images/itele.svg);
                  }
                  &-reddi {
                    background-image: url(../images/reddi.svg);
                  }
                }
              }
            }
            .choose_prefix {
              border-bottom: thin solid #eee;
              padding: 1rem 1rem 0.5rem;
              p {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                font-weight: bold;
              }
              &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -5px;
                margin-right: -5px;
                > span {
                  align-items: center;
                  border: 1px solid #eee;
                  cursor: pointer;
                  display: flex;
                  font-size: 0.875rem;
                  justify-content: center;
                  margin-bottom: 0.5rem;
                  margin-left: 5px;
                  margin-right: 5px;
                  min-width: calc(8% - 10px);
                  padding: 0.5rem;
                  &:hover {
                    border: 1px solid #4a90e2;
                  }
                }
              }
            }
            .choose_price {
              border-bottom: thin solid #eee;
              padding: 1rem 1rem 0.5rem;
              p {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                font-weight: bold;
              }
              &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -5px;
                margin-right: -5px;
                > span {
                  align-items: center;
                  border: 1px solid #eee;
                  cursor: pointer;
                  display: flex;
                  font-size: 0.875rem;
                  justify-content: center;
                  margin-bottom: 0.5rem;
                  margin-left: 5px;
                  margin-right: 5px;
                  min-width: calc(20% - 10px);
                  padding: 0.5rem;
                  &:hover {
                    border: 1px solid #4a90e2;
                  }
                }
              }
            }
            .choose_avoidance {
              border-bottom: thin solid #eee;
              padding: 1rem 1rem 0.5rem;
              p {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                font-weight: bold;
              }
              &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -5px;
                margin-right: -5px;
                > span {
                  align-items: center;
                  border: 1px solid #eee;
                  cursor: pointer;
                  display: flex;
                  font-size: 0.875rem;
                  justify-content: center;
                  margin-bottom: 0.5rem;
                  margin-left: 5px;
                  margin-right: 5px;
                  min-width: calc(9% - 10px);
                  padding: 0.5rem;
                  &:hover {
                    border: 1px solid #4a90e2;
                  }
                }
              }
            }
            .choose_withraw {
              border-bottom: thin solid #eee;
              padding: 1rem 1rem 0.5rem;
              p {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                font-weight: bold;
              }
              &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -5px;
                margin-right: -5px;
                .input_txt {
                  display: flex;
                  flex-wrap: wrap;
                  width: 50%;
                  margin-bottom: 20px;
                  .input01 {
                    max-width: 100%;
                    width: 50%;
                    > input {
                      border: thin solid #eee;
                      border-radius: 4px;
                      font-family: inherit;
                      font-size: 14px;
                      min-height: 30px;
                      padding: 10px;
                      width: 85%;
                    }
                  }
                }
              }
            }
          }
          .form_submit {
            border-top: thin solid #eee;
            display: flex;
            justify-content: center;
            padding: 20px;
            .reject {
              background-color: #fff;
              border: thin solid #eee;
              border-radius: 4px;
              cursor: pointer;
              min-height: 2rem;
              padding-left: 10px;
              border-color: #d0021a;
              color: #d0021a;
              margin-right: 2rem;
              padding-right: 10px;
              min-width: 25%;
            }
            .equal {
              border: thin solid #eee;
              border-radius: 4px;
              cursor: pointer;
              min-height: 2rem;
              padding-left: 10px;
              padding-right: 10px;
              min-width: 25%;
              background-color: #4a90e2;
              color: #fff;
            }
          }
        }
      }

      &__default {
        margin-right: 10px;
        position: relative;
        min-width: 120px;

        &:nth-child(8) {
          margin-right: 0;
        }

        .dropdown-toggle::after {
          display: none;
        }

        .show > .btn-secondary.dropdown-toggle {
          background-color: #fff;
          border-color: #e0e0e0;
          color: #333;
        }

        .item_button {
          min-height: 32px;
          background-color: #fff;
          border-radius: 4px;
          cursor: pointer;
          padding-left: 10px;
          padding-right: 66px;
          border: thin solid #e0e0e0;
          color: #333;
          font-size: 14px;
          position: relative;

          &::after {
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            border-right: 0.3em solid transparent;
            border-top: 0.3em solid;
            content: "";
            display: inline-block;
            margin-left: 0.3em;
            vertical-align: 0.1em;
            position: absolute;
            right: 10px;
            top: 15px;
          }
        }

        // reset item

        .reset_price {
          width: 305px !important;
          span {
            width: 46% !important;
          }
        }
        .reset_rut {
          width: 305px !important;
          right: -4px !important;
        }
        .reset_prefix {
          width: 305px !important;
          span {
            width: 18%;
          }
        }
        .reset_avoidance {
          width: 305px !important;
          span {
            width: 16%;
          }
        }
        .reset_choose {
          width: 700px !important;
        }
        .reset_icon {
          transform: translate(247px) !important;
        }

        // done

        .content_funnel {
          width: 470px;
          display: block;
          min-width: 305px;
          background-clip: padding-box;
          background-color: #fff;
          border: 1px solid #eee;
          min-width: 100%;
          position: absolute;
          top: 50px;
          z-index: 1000;

          .icon_drop {
            display: block;
            height: 0.5rem;
            left: -16px;
            position: absolute;
            top: calc(-0.8rem - 1px px);
            transform: translate(55px);
            width: 1rem;

            &::before {
              border-color: transparent transparent #eee;
              border-style: solid;
              border-width: 0 0.8rem 0.8rem;
              content: "";
              display: block;
              position: absolute;
              top: -13px;
            }
          }

          .title {
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
            border-bottom: 1px solid #eee;

            > p {
              margin: 0;
              font-weight: bold;
              font-size: 16px;
            }

            > button {
              background-color: #fff;
              border: thin solid #eee;
              border-radius: 4px;
              cursor: pointer;
              padding-left: 10px;
              padding-right: 10px;
              font-size: 14px;
            }
          }

          .choose_filter {
            max-height: 442px;
            overflow: auto;
            .choose_netword {
              border-bottom: thin solid #eee;
              padding: 1rem 1rem 0.5rem;
              p {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                font-weight: bold;
              }
              .logo_netword {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -5px;
                margin-right: -5px;
                span {
                  align-items: center;
                  border: 1px solid #eee;
                  cursor: pointer;
                  display: flex;
                  font-size: 0.875rem;
                  justify-content: center;
                  margin-bottom: 0.5rem;
                  margin-left: 5px;
                  margin-right: 5px;
                  min-width: calc(20% - 10px);
                  padding: 0.5rem;
                  &:hover {
                    border: 1px solid #4a90e2;
                  }
                }
                &__icon {
                  background-position: 50%;
                  background-repeat: no-repeat;
                  background-size: contain;
                  display: inline-block;
                  background-image: url(../images/ic_viettel.svg);
                  width: 80px;
                  height: 32px;
                  &-mobi {
                    background-image: url(../images/mobi.svg);
                  }
                  &-vina {
                    background-image: url(../images/vina.svg);
                  }
                  &-vietnam {
                    background-image: url(../images/vietnam.svg);
                  }
                  &-mobile {
                    background-image: url(../images/mobile.svg);
                  }
                  &-itele {
                    background-image: url(../images/itele.svg);
                  }
                  &-reddi {
                    background-image: url(../images/reddi.svg);
                  }
                }
              }
            }
            .choose_price {
              border-bottom: thin solid #eee;
              padding: 1rem 1rem 0.5rem;
              p {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                font-weight: bold;
              }
              &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -5px;
                margin-right: -5px;
                > span {
                  align-items: center;
                  border: 1px solid #eee;
                  cursor: pointer;
                  display: flex;
                  font-size: 0.875rem;
                  justify-content: center;
                  margin-bottom: 0.5rem;
                  margin-left: 5px;
                  margin-right: 5px;
                  min-width: calc(20% - 10px);
                  padding: 0.5rem;
                  &:hover {
                    border: 1px solid #4a90e2;
                  }
                }
              }
            }
            .choose_prefix {
              border-bottom: thin solid #eee;
              padding: 1rem 1rem 0.5rem;
              p {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                font-weight: bold;
              }
              &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -5px;
                margin-right: -5px;
                > span {
                  align-items: center;
                  border: 1px solid #eee;
                  cursor: pointer;
                  display: flex;
                  font-size: 0.875rem;
                  justify-content: center;
                  margin-bottom: 0.5rem;
                  margin-left: 5px;
                  margin-right: 5px;
                  min-width: calc(8% - 10px);
                  padding: 0.5rem;
                  &:hover {
                    border: 1px solid #4a90e2;
                  }
                }
              }
            }
            .choose_avoidance {
              border-bottom: thin solid #eee;
              padding: 1rem 1rem 0.5rem;
              p {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                font-weight: bold;
              }
              &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -5px;
                margin-right: -5px;
                > span {
                  align-items: center;
                  border: 1px solid #eee;
                  cursor: pointer;
                  display: flex;
                  font-size: 0.875rem;
                  justify-content: center;
                  margin-bottom: 0.5rem;
                  margin-left: 5px;
                  margin-right: 5px;
                  min-width: calc(9% - 10px);
                  padding: 0.5rem;
                  &:hover {
                    border: 1px solid #4a90e2;
                  }
                }
              }
            }
            .choose_withraw {
              border-bottom: thin solid #eee;
              padding: 1rem 1rem 0.5rem;
              p {
                font-size: 14px;
                color: #333;
                margin-bottom: 8px;
                font-weight: bold;
              }
              &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -5px;
                margin-right: -5px;
                .input_txt {
                  display: flex;
                  flex-wrap: wrap;
                  width: 100%;
                  margin-bottom: 20px;
                  .input01 {
                    max-width: 100%;
                    width: 100%;
                    > input {
                      border: thin solid #eee;
                      border-radius: 4px;
                      font-family: inherit;
                      font-size: 14px;
                      min-height: 30px;
                      padding: 10px;
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
          .form_submit {
            border-top: thin solid #eee;
            display: flex;
            justify-content: center;
            padding: 20px;
            .reject {
              background-color: #fff;
              border: thin solid #eee;
              border-radius: 4px;
              cursor: pointer;
              min-height: 2rem;
              padding-left: 10px;
              border-color: #d0021a;
              color: #d0021a;
              margin-right: 2rem;
              padding-right: 10px;
              min-width: 25%;
            }
            .equal {
              border: thin solid #eee;
              border-radius: 4px;
              cursor: pointer;
              min-height: 2rem;
              padding-left: 10px;
              padding-right: 10px;
              min-width: 25%;
              background-color: #4a90e2;
              color: #fff;
            }
          }
        }
      }
    }

    .group_checkbox {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__item {
        display: flex;
        align-items: center;
        margin-top: 30px;
        font-size: 14px;

        .form-check {
          display: inline-block;
          margin-bottom: 10px;
          margin-right: 20px;

          .form-check-input:focus {
            box-shadow: none;
          }
        }
      }

      &__arrange {
        > select {
          &::after {
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            border-right: 0.3em solid transparent;
            border-top: 0.3em solid;
            content: "";
            display: inline-block;
            margin-left: 0.3em;
            vertical-align: 0.1em;
            position: absolute;
            right: 10px;
            top: 15px;
          }

          cursor: pointer;
          padding: 2px 10px;
          font-size: 14px;
          color: #4a90e2;
          border: thin solid #e0e0e0;
          -moz-appearance: none;
          /* Firefox */
          -webkit-appearance: none;
          /* Safari and Chrome */
          appearance: none;
          border-left: 0;

          > option {
            color: #333;
          }
        }

        > label {
          background-color: #fff;
          padding: 2px 10px;
          font-size: 14px;
          border: thin solid #e0e0e0;
          cursor: pointer;
          margin-right: -5px;
          border-right: 0;
        }

        .select-items div:hover,
        .same-as-selected {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .filter__container {
    .group_filter {
      .filter_item {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 10px;
        .group_checkbox__item {
          margin-top: 10px !important;
        }
        &__funnel {
          margin-right: 10px;
          position: static;
          min-width: 100px;
          width: max-content !important;
          .content_funnel {
            max-width: 100vw;
            display: block;
            min-width: 305px;
            background-clip: padding-box;
            background-color: #fff;
            border: 1px solid #eee;
            min-width: 100%;
            position: absolute;
            top: 115px;
            z-index: 1000;
            left: 0;
            .icon_drop {
              &::before {
                left: 50%;
                transform: translateX(-50%);
                content: "" !important;
              }
            }
            .item_button {
              padding-right: 26px !important;
            }
          }
        }

        &__default {
          margin-right: 10px;
          position: static;
          width: max-content !important;
          min-width: 110px;
          .content_funnel {
            width: 100vw;
            display: block;
            background-clip: padding-box;
            background-color: #fff;
            border: 1px solid #eee;
            position: absolute;
            min-width: 100%;
            max-width: 100%;
            top: 115px;
            left: 0;
            z-index: 1000;
          }
          .item_button {
            padding-right: 30px !important;
            white-space: nowrap;
          }
          .icon_drop {
            &::before {
              left: 50%;
              transform: translateX(-50%);
              content: "" !important;
            }
          }
          .choose_filter {
            max-width: 100vw;
          }
          .form_submit {
            max-width: 100vw;
          }
        }
      }
      .group_checkbox {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        &__item {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 14px;

          .form-check {
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 20px;

            .form-check-input:focus {
              box-shadow: none;
            }
          }
        }

        &__arrange {
          > select {
            &::after {
              border-bottom: 0;
              border-left: 0.3em solid transparent;
              border-right: 0.3em solid transparent;
              border-top: 0.3em solid;
              content: "";
              display: inline-block;
              margin-left: 0.3em;
              vertical-align: 0.1em;
              position: absolute;
              right: 10px;
              top: 15px;
            }

            cursor: pointer;
            padding: 2px 10px;
            font-size: 14px;
            color: #4a90e2;
            border: thin solid #e0e0e0;
            -moz-appearance: none;
            /* Firefox */
            -webkit-appearance: none;
            /* Safari and Chrome */
            appearance: none;
            border-left: 0;

            > option {
              color: #333;
            }
          }

          > label {
            background-color: #fff;
            padding: 2px 10px;
            font-size: 14px;
            border: thin solid #e0e0e0;
            cursor: pointer;
            margin-right: -5px;
            border-right: 0;
          }

          .select-items div:hover,
          .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
