$color-gray: #333;
$color-white: #fff;
$color-black: #000;
$color-yellow: #f1c40f;
$color-bg: #f9f9f9;
$color-blue: #4a90e2;

.footer {
  margin-top: 20px;
  &__term {
    background: #f6fff8;
    border: thin solid #eee;
    &__container {
      max-width: 1200px;
      margin: auto;
      padding: 10px;
      ul.__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li.__item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-right: thin solid #eee;
          width: 20%;
          padding: 0px 20px;
          .__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            min-width: 48px;
            background: #dfffe2;
            margin-right: 10px;
            font-size: 18px;
          }
          .__text {
            line-height: 21px;
            color: $color-gray;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }

  &__content {
    &__container {
      max-width: 1200px;
      margin: auto;
      padding: 30px 0px;
      .__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        .__item {
          .__infomation,
          .__contact {
            li.__title {
              line-height: 32px;
              font-weight: 700;
              font-size: 16px;
            }
            .__item__child {
              a {
                font-size: 14px;
                color: $color-blue;
                line-height: 32px;
              }
            }
          }
          &:nth-child(1),
          &:nth-child(2) {
            width: 18%;
          }
          &:nth-child(3),
          &:nth-child(4) {
            width: 32%;
          }
          .__tondaihotro {
            li.__title {
              line-height: 32px;
              font-weight: 700;
              font-size: 16px;
            }
            li {
              line-height: 32px;
              margin-bottom: 10px;
              span {
                display: flex;
                align-items: center;
                a {
                  border-radius: 16px;
                  background: $color-yellow;
                  color: $color-gray;
                  font-weight: 700;
                  margin: 0px 15px;
                  padding: 0px 10px;
                  display: flex;
                  width: max-content;
                  align-items: center;
                  i {
                    color: $color-white;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: $color-black;
                    margin-right: 5px;
                    font-size: 12px;
                  }
                }
              }
              &:nth-child(3) {
                span {
                  display: flex;
                  align-items: center;
                  a {
                    border-radius: 16px;
                    background: $color-blue;
                    color: $color-white;
                    font-weight: 700;
                    margin: 0px 15px;
                    padding: 0px 10px;
                    display: flex;
                    width: max-content;
                    align-items: center;
                    i {
                      color: $color-white;
                      width: 25px;
                      height: 25px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 50%;
                      background: $color-black;
                      margin-right: 5px;
                      font-size: 12px;
                    }
                    img {
                      margin-right: 5px;
                    }
                  }
                }
              }
            }
          }
          .__chungnhan {
            li.__title {
              line-height: 32px;
              font-weight: 700;
              font-size: 16px;
              margin-bottom: 10px;
            }
            .__img {
              display: flex;
              align-items: center;
              img {
                margin-right: 15px;
                height: 30px;
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  &__copyright {
    border-top: thin solid #eee;
    padding: 16px;
    p {
      text-align: center;
      line-height: 21px;
      color: $color-gray;
      b {
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &__term {
      overflow-y: auto;
      margin-bottom: 10px !important;
      &__container {
        ul.__items {
          li.__item {
            min-width: 230px;
          }
        }
      }
    }
    &__content {
      padding: 10px;
      &__container {
        max-width: 1200px;
        margin: auto;
        padding: 30px 0px;
        .__items {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
          .__item {
            margin-bottom: 20px;
            &:nth-child(1),
            &:nth-child(2) {
              width: 50%;
            }
            &:nth-child(3),
            &:nth-child(4) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
