$color-gray: #333;
$color-white: #fff;
$color-black: #000;
$color-yellow: #f1c40f;

.header {
  width: 100vw;
  &__top {
    background: $color-black;
    &__container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0px;
      .header__top__left {
        display: flex;
        align-items: center;

        .__logo {
          img {
            width: auto;
          }
        }
        .__logo__mb {
          display: none;
        }
        .__search {
          margin-left: 15px;
          position: relative;
          input {
            padding: 6px 10px;
            width: 220px;
            border-radius: 4px;
            border: thin solid #eee;

            &:focus {
              outline: none;
              border: none;
            }
            &::placeholder {
              color: rgba($color: #000, $alpha: 0.6);
            }
          }
          .__icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: $color-black;
            font-size: 13px;
          }
        }
        .__promotion {
          color: $color-yellow;
          margin-left: 25px;
          display: flex;
          align-items: center;
          .dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $color-yellow;
            margin-right: 10px;
            position: relative;
            z-index: 2;
            .border {
              position: absolute;
              border-radius: 50%;
              border: 1px solid $color-yellow;
              z-index: 1;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              animation: warn 1s infinite 1s;
            }
          }
        }
      }
      .__header__top__right {
        ul {
          display: flex;
          align-items: center;
          li {
            margin-left: 20px;
            a {
              color: $color-white;
            }
          }
        }
      }
      .__header__top__right-mb {
        display: none;
      }
    }
  }
  &__bottom {
    background-color: $color-yellow;
    line-height: 24px;
    &__container {
      max-width: 1200px;
      margin: auto;
      .list__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .__item {
          padding: 8px 0px;
          a {
            display: flex;
            color: $color-gray;
            img {
              width: 24px;
              height: 24px;
              object-fit: cover;
            }
            .text {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

@keyframes warn {
  0% {
    width: 0;
    border-width: 0;
    height: 0;
  }

  90% {
    width: 18px;
    height: 18px;
    border-width: 2px;
    opacity: 0.8;
  }

  100% {
    width: 20px;
    height: 20px;
    border-width: 2.5px;
    opacity: 0.2;
  }
}

@media only screen and(max-width:768px) {
  .header {
    &__top {
      &__container {
        .header__top__left {
          display: flex;
          align-items: center;
          width: 100%;
          .__logo {
            display: none;
          }
          .__logo__mb {
            display: block;
            margin-left: 5px;
            a {
              display: flex;
              height: 100%;
              display: flex;
              align-items: center;
            }
            img {
              width: auto;
              height: 30px;
            }
          }
          .__search {
            margin-left: 5px;
            position: relative;
            width: 86%;
            // max-width: ;
            input {
              padding: 6px 10px;
              border-radius: 4px;
              border: thin solid #eee;
              width: 100%;
              &:focus {
                outline: none;
                border: none;
              }
              &::placeholder {
                color: rgba($color: #000, $alpha: 0.6);
              }
            }
            .__icon {
              position: absolute;
              right: 0px;
              top: 50%;
              transform: translateY(-50%);
              color: $color-black;
              font-size: 13px;
              background-color: #f1c40f;
              width: 30px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px;
            }
          }
          .__promotion {
            display: none;
          }
        }
        .__header__top__right {
          display: none;
        }
        .__header__top__right-mb {
          display: block;
          .menu__mb--active {
            color: #fff;
            font-size: 30px;
            margin-right: 10px;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
          }

          .menu__responsive {
            display: none;
            color: #fff;
            position: absolute;
            width: 100vw;
            left: 0;
            top: 0;
            height: max-content;
            background: #fff;
            z-index: 1000;
            padding: 10px 15px;
            border-bottom: thin solid #eee;

            .menu__mb--close {
              color: #333 !important;
              cursor: pointer;
              z-index: 10;
              font-size: 12px;
              border: thin solid #eee;
              width: max-content;
              padding: 4px;
              border-radius: 4px;
              position: absolute;
              right: 15px;
            }
            ul {
              li {
                .item__child {
                  display: flex;
                  flex-wrap: wrap;
                  margin-top: 10px;
                }
                margin-bottom: 10px;
              }
            }

            .__title {
              line-height: 24px;
              font-weight: 700;
              color: #333;
              font-size: 16px;
            }
            .__sim__name {
              width: 50%;
              border: thin solid #eee;
              font-weight: 400;
              color: #333;
              padding: 5px 10px;
              font-size: 14px;
              line-height: 21px;
            }
          }
          input#check_menu:checked + .menu__responsive {
            display: block;
          }
        }
      }
    }
    &__bottom {
      display: none;
    }
  }
}

.none {
  display: none !important;
}
