$color-gray: #333;
$color-white: #fff;
$color-black: #000;
$color-yellow: #f1c40f;
$color-bg: #f9f9f9;
$color-blue: #4a90e2;

.main {
  .homecontent {
    margin-top: 20px;
    .homecontent__container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      .content__left {
        width: 20%;
        .list__sim {
          .list__sim__item {
            border: thin solid #eee;
            margin-bottom: 20px;
            .__header {
              font-weight: 700;
              line-height: 24px;
              color: $color-gray;
              padding: 6px 10px;
              width: 100%;
              background: $color-bg;
              border-bottom: thin solid #eeee;
              span {
                margin-left: 5px;
              }
            }
            .__list__sims {
              ul {
                li {
                  line-height: 21px;
                  padding: 8px 8px 8px 16px;
                  border-bottom: thin solid #eee;
                  a {
                    font-size: 14px;
                    color: $color-gray;
                    &:hover {
                      color: $color-blue;
                    }
                  }
                  &:last-child {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      }
      .content__center {
        width: 60%;
        margin: 0px 15px;
        .__title {
          font-weight: 700;
          text-transform: uppercase;
          line-height: 24px;
          color: $color-gray;
          padding: 6px 10px;
          width: 100%;
          background: $color-bg;
          border: thin solid #eeee;
          display: flex;
          justify-content: space-between;
        }
        table {
          border-collapse: collapse;
          width: 100%;

          td {
            padding: 5px;
            border: 1px solid #ddd;
            text-align: center;
            &:nth-child(2) {
              width: 20%;
              font-weight: 700;
            }
            &:nth-child(3) {
              width: 20%;
            }
            &:nth-child(4) {
              width: 20%;
            }
            // &:nth-child(5) {
            //   width: 20%;
            // }
            &:nth-child(6) {
              width: 110px;
            }
            button {
              color: #d0021a;
              cursor: pointer;
              background: $color-white;
              border: thin solid #eee;
              padding: 4px 10px;
              border-radius: 4px;
              margin: 0px 5px;
              &:focus {
                outline: none;
              }

              &:hover {
                color: $color-white;
                background: #d0021a;
              }
            }
          }

          th {
            text-align: center;
            background-color: #eaeaeaea;
            padding: 10px;
            border: 1px solid #ddd;
          }
          tr:nth-child(2n-1) {
            background-color: #eeeeee;
          }

          td.red {
            color: #d0021a;
          }
        }
        .sim__list {
          padding: 10px;
          border: thin solid #eee;
          .sub__info {
            line-height: 21px;
            padding: 5px;
          }
          .uppercase {
            text-transform: uppercase;
            font-weight: 700;
          }
          strong {
            font-weight: 700;
          }
          .sim__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 10px;
            .__item {
              border: thin solid #eee;
              display: flex;
              align-items: center;
              border-radius: 4px;
              margin-bottom: 10px;
              &:hover {
                border: thin solid $color-blue;
              }
              .img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin: 4.8px;
              }
              .__content {
                border-left: thin solid #eee;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 15px 0 8px;
                .number {
                  font-weight: 700;
                  line-height: 19px;
                  color: $color-black;
                }
                .price {
                  // font-weight: 700;
                  line-height: 19px;
                  color: #d0021a;
                }
              }
            }
          }
        }

        .pagination {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 50px;
          border: thin solid #eee;
          ul {
            display: flex;
            align-items: center;
            li {
              line-height: 21px;
              padding: 4px 8px;
              border: thin solid #eee;
              color: $color-blue;
              cursor: pointer;
            }
            li.active {
              background-color: $color-blue;
              color: $color-white;
            }
          }
        }
      }
      .content__right {
        width: 20%;
        .new__article {
          display: flex;
          flex-direction: column;
          width: 100%;
          &__items {
            border: thin solid #eee;
            .__title {
              font-weight: 700;
              text-transform: uppercase;
              line-height: 24px;
              color: $color-gray;
              padding: 6px 10px;
              width: 100%;
              background: $color-bg;
              border-bottom: thin solid #eeee;
              display: flex;
              justify-content: space-between;
              a {
                color: $color-blue;
                text-transform: none;
                font-weight: 400;
              }
            }
            .__link {
              margin: 10px;
              width: 100%;
              padding-bottom: 10px;
              border-bottom: thin solid #eeee;
              &:last-child {
                border: none;
              }
              a {
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 21px;
                color: $color-gray;
                font-weight: 500;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                padding-right: 10px;
                transition: all 0.2s;
                &:hover {
                  transition: all 0.2s;
                  color: $color-blue;
                }
              }
              .primary {
                color: $color-blue;
                line-height: 21px;
              }
              .black {
                color: $color-black;
                line-height: 21px;
              }
              ul {
                margin-left: 15px;
                list-style: disc;
                display: flex;
                flex-wrap: wrap;
                li {
                  &::marker {
                    font-size: 18px;
                  }
                }
              }
            }
            .__numberphone {
              padding: 10px 10px 0px 10px;
              width: 100%;
              &:last-child {
                border: none;
              }
              a {
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 21px;
                color: $color-gray;
                font-weight: 500;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                padding-right: 10px;
                transition: all 0.2s;
                &:hover {
                  transition: all 0.2s;
                  color: $color-blue;
                }
              }
              .line {
                max-width: 100%;
                height: 1px;
                background-color: #eee;
                margin: 5px 0px;
              }
              .primary {
                color: $color-blue;
                line-height: 24px;
                margin: 3px 0px;
              }
              .black {
                color: $color-black;
                line-height: 24px;
                margin: 3px 0px;
              }
              ul {
                margin-left: 15px;
                list-style: disc;
                display: flex;
                flex-wrap: wrap;
                li {
                  margin-right: 25px;
                  &::marker {
                    font-size: 18px;
                  }
                }
              }
              .list__number {
                display: flex;
                margin: initial;
                padding: initial;
                flex-wrap: wrap;
                margin-bottom: 10px;
                list-style: none !important;
                .reds {
                  background: #d10032;
                  font-weight: 600;
                  margin-right: 10px;
                  padding: 5px;
                  border-radius: 4px;
                  color: $color-white;
                }
                .primarys {
                  background: #288ad6;
                  font-weight: 600;
                  margin-right: 10px;
                  padding: 5px;
                  border-radius: 4px;
                  color: $color-white;
                }
                .blues {
                  background: #134a9f;
                  font-weight: 600;
                  margin-right: 10px;
                  padding: 5px;
                  border-radius: 4px;
                  color: $color-white;
                }
              }
              .__namecap {
                text-transform: uppercase;
                line-height: 24px;
                font-weight: 600;
              }
            }
            .__order__card {
              margin: 10px;
              padding-bottom: 10px;
              border-bottom: thin solid #eee;
              &:last-child {
                border-bottom: none;
              }
              .__order__card__item {
                display: flex;
                justify-content: space-between;

                .left {
                  max-width: 60%;
                  .name,
                  .phone {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 22px;
                    color: $color-gray;
                  }
                }
                .right {
                  .button {
                    padding: 3px 6px;
                    border-radius: 4px;
                    background: #ff821e;
                    line-height: 21px;
                    font-weight: 500;
                    color: $color-white;
                    &:hover {
                      opacity: 0.8;
                    }
                  }
                  .time {
                    line-height: 22px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .keywork {
    margin-top: 20px;

    &__container {
      max-width: 1200px;
      margin: auto;
      .__header {
        background: $color-bg;
        display: flex;
        flex-direction: column;
        padding: 8px;
        border: thin solid #eee;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .__title {
          font-weight: 700;
          color: $color-gray;
          font-size: 16px;
          line-height: 24px;
        }
        .__sub {
          color: $color-gray;
          line-height: 21px;
        }
      }
      .__items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border: thin solid #eee;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top: none;
        padding: 10px 5px;
        a {
          color: $color-blue;
          margin: 0px 5px 10px;
          border: thin solid #eee;
          background: #f8f8f8;
          line-height: 21px;
          padding: 5px 10px;
          border-radius: 4px;
        }
      }
    }
  }
}
.card__sim {
  max-width: 1200px;
  margin: 20px auto;

  .card__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card__item {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    width: max-content;
    border: thin solid #eeee;

    .header {
      padding: 10px;
      background: #d10032;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: max-content;
      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
      }
      .header__child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        .number {
          font-size: 14px;
          font-weight: 700;
          line-height: 14px;
          color: #fff;
        }
        .sub {
          color: #ffffff;
          margin-top: 5px;
          font-size: 11.2px;
          line-height: 11.2px;
        }
      }
    }
    .footer {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin: initial;
      margin-top: 0px !important;
      .black {
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        color: #000;
      }
      .red {
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        color: #d0021a;
      }
      .btn {
        background-color: #d10032;
        border-color: #eeeeee;
        border-radius: 50px;
        border-style: solid;
        border-width: 1px;
        color: #ffffff;

        font-size: 14px;
        line-height: 14px;
        padding: 4px 16px;
      }
    }
    .promotion {
      padding: 10px;
      i {
        color: #d0021a;
        font-size: 12.6px;
        line-height: 18.9px;
        margin-right: 5px;
      }
      li {
        font-size: 12.6px;
        line-height: 18.9px;
        margin-bottom: 8px;
        strong {
          font-weight: 700;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .card__sim {
    display: none !important;
  }
  .homecontent {
    margin-top: 20px;
    .homecontent__container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: column;
      .content__left {
        width: 100% !important;
        display: none;
      }
      .content__center {
        width: 100% !important;
        margin: initial;
        margin: 0 !important;
        .sim__list {
          padding: 10px;
          border: thin solid #eee;
          .sub__info {
            line-height: 21px;
            padding: 5px;
          }
          .uppercase {
            text-transform: uppercase;
            font-weight: 700;
          }
          strong {
            font-weight: 700;
          }
          .sim__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 10px;
            .__item {
              border: thin solid #eee;
              display: flex;
              align-items: center;
              border-radius: 4px;
              margin-bottom: 10px;
              width: 48%;
              .img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin: 4.8px;
              }
              .__content {
                border-left: thin solid #eee;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 15px 0 8px;
                .number {
                  font-weight: 700;
                  line-height: 19px;
                  color: $color-black;
                }
                .price {
                  // font-weight: 700;
                  line-height: 19px;
                  color: #d0021a;
                }
              }
            }
          }
        }
      }
      .content__right {
        width: 100% !important;
        padding: 10px;
      }
    }
  }
  .main {
    .keywork {
      margin-top: 20px;

      &__container {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
      }
    }
  }
}
