$color-gray: #333;
$color-white: #fff;
$color-black: #000;
$color-yellow: #f1c40f;
$color-bg: #f9f9f9;
$color-blue: #4a90e2;

.main {
  .new {
    margin-top: 20px;
    &__container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      .sub__menu {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0px 10px 10px;
        &__item {
          padding: 5px 15px;
          border-radius: 4px;
          a {
            color: $color-gray;
            font-weight: 600;
            line-height: 21px;
            font-size: 16px;
          }
        }
        &__item-active {
          padding: 5px 15px;
          background: $color-yellow;
          a {
            color: $color-gray;
            font-weight: 600;
            line-height: 21px;
            font-size: 16px;
          }
        }
      }
    }
    &__header {
      font-weight: 700;
      text-transform: uppercase;
      line-height: 24px;
      color: $color-gray;
      padding: 6px 10px;
      width: 100%;
      background: $color-bg;
      border-bottom: thin solid #eeee;
    }
    .content {
      width: 80%;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      .new__content {
        border: thin solid #eee;
        &__first {
          padding: 10px;
          font-size: 16px;
          line-height: 24px;
          strong {
            font-weight: 600;
          }
        }
      }
      .new__header__customer {
        // font-weight: 700;
        text-transform: uppercase;
        line-height: 24px;
        color: $color-blue;
        padding: 6px 10px;
        width: 100%;
        background: $color-bg;
        border-bottom: thin solid #eeee;
        display: flex;
        flex-wrap: wrap;
        .detail {
          color: black;
          text-transform: capitalize;
          margin-left: 5px;
          font-size: 14px;
        }
      }
      .post__detail {
        padding: 15px;
        h1 {
          color: #333333;
          font-size: 24px;
          font-weight: 600;
          line-height: 28.8px;
          margin: 0px 0px 8px;
        }
        strong {
          color: #333333;
          display: inline;
          font-size: 14px;
          font-weight: 700;
          line-height: 21px;
        }
        p {
          color: #333333;
          font-size: 14px;
          line-height: 21px;
          margin: 0px 0px 8px;
        }
        h2 {
          color: #333333;
          font-size: 22px;
          font-weight: 600;
          line-height: 26.4px;
          margin: 0px 0px 8px;
        }
        li {
          color: #333333;
          display: list-item;
          font-size: 14px;
          line-height: 21px;
        }
        img {
          color: #333333;
          display: inline-block;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
        }
        a {
          color: #288ad6;
        }
      }
      .new__post {
        display: flex;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
        &__img {
          width: 30%;
          aspect-ratio: 16/10;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__content {
          margin-left: 15px;
          .__title {
            font-size: 19px;
            font-weight: 600;
            line-height: 23px;
            margin-bottom: 8px;
            color: $color-gray;
          }
          .__action {
            display: flex;
            margin-bottom: 10px;
            &__child {
              margin-right: 25px;
              display: flex;
              align-items: center;
              .icon {
                margin-right: 5px;
                color: #ccc;
              }
              .text {
                line-height: 21px;
                color: $color-gray;
              }
            }
          }
          .__sub {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 21px;
            color: $color-gray;
            font-weight: 500;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            color: $color-gray;
          }
        }
      }
      .new__post__first {
        .new__post__img {
          width: 100%;
        }
        .new__post__content {
          margin-left: 15px;
          .__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 8px;
          }
        }
      }
    }

    &__article {
      width: 20%;

      display: flex;
      flex-direction: column;
      &__items {
        border: thin solid #eee;

        .__title {
          font-weight: 700;
          text-transform: uppercase;
          line-height: 24px;
          color: $color-gray;
          padding: 6px 10px;
          width: 100%;
          background: $color-bg;
          border-bottom: thin solid #eeee;
          display: flex;
          justify-content: space-between;
          a {
            color: $color-blue;
            text-transform: none;
            font-weight: 400;
          }
        }
        .__link {
          margin: 10px;
          width: 100%;
          padding-bottom: 10px;
          border-bottom: thin solid #eeee;
          &:last-child {
            border: none;
          }
          a {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 21px;
            color: $color-gray;
            font-weight: 500;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            padding-right: 10px;
            transition: all 0.2s;
            &:hover {
              transition: all 0.2s;
              color: $color-blue;
            }
          }
          .primary {
            color: $color-blue;
            line-height: 21px;
          }
          .black {
            color: $color-black;
            line-height: 21px;
          }
          ul {
            margin-left: 15px;
            list-style: disc;
            display: flex;
            flex-wrap: wrap;
            li {
              &::marker {
                font-size: 18px;
              }
            }
          }
        }
        .__numberphone {
          padding: 10px 10px 0px 10px;
          width: 100%;
          &:last-child {
            border: none;
          }
          a {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 21px;
            color: $color-gray;
            font-weight: 500;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            padding-right: 10px;
            transition: all 0.2s;
            &:hover {
              transition: all 0.2s;
              color: $color-blue;
            }
          }
          .line {
            max-width: 100%;
            height: 1px;
            background-color: #eee;
            margin: 5px 0px;
          }
          .primary {
            color: $color-blue;
            line-height: 24px;
            margin: 3px 0px;
          }
          .black {
            color: $color-black;
            line-height: 24px;
            margin: 3px 0px;
          }
          ul {
            margin-left: 15px;
            list-style: disc;
            display: flex;
            flex-wrap: wrap;
            li {
              margin-right: 25px;
              &::marker {
                font-size: 18px;
              }
            }
          }
          .list__number {
            display: flex;
            margin: initial;
            padding: initial;
            flex-wrap: wrap;
            margin-bottom: 10px;
            list-style: none !important;
            .reds {
              background: #d10032;
              font-weight: 600;
              margin-right: 10px;
              padding: 5px;
              border-radius: 4px;
              color: $color-white;
            }
            .primarys {
              background: #288ad6;
              font-weight: 600;
              margin-right: 10px;
              padding: 5px;
              border-radius: 4px;
              color: $color-white;
            }
            .blues {
              background: #134a9f;
              font-weight: 600;
              margin-right: 10px;
              padding: 5px;
              border-radius: 4px;
              color: $color-white;
            }
          }
          .__namecap {
            text-transform: uppercase;
            line-height: 24px;
            font-weight: 600;
          }
        }
        .__order__card {
          margin: 10px;
          padding-bottom: 10px;
          border-bottom: thin solid #eee;
          &:last-child {
            border-bottom: none;
          }
          .__order__card__item {
            display: flex;
            justify-content: space-between;

            .left {
              max-width: 60%;
              .name,
              .phone {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 22px;
                color: $color-gray;
              }
            }
            .right {
              .button {
                padding: 3px 6px;
                border-radius: 4px;
                background: #ff821e;
                line-height: 21px;
                font-weight: 500;
                color: $color-white;
                &:hover {
                  opacity: 0.8;
                }
              }
              .time {
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
  .__comment {
    margin: 20px 0px;
    border: thin solid #eee;
    .__input {
      textarea {
        width: 100%;
        border: none;
        border-bottom: thin solid #eeee;
        &:focus {
          border: none;
          border: thin solid #eeee;
          outline: none;
        }
      }
    }
    .__info {
      line-height: 24px;
      margin: 10px 5px;
      display: flex;
      align-items: center;
      .sex {
        label {
          cursor: pointer;
          margin-right: 20px;
        }
      }
      .__about {
        input {
          padding: 8px 10px;
          margin-left: 15px;
          border: thin solid #eee;
          border-radius: 4px;
          &:focus {
            border: thin solid #eee;
            outline: none;
          }
          &:nth-child(2) {
            width: 120px;
          }
        }
      }
    }
  }
  .__post__comment {
    border-top: thin solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    a {
      color: $color-blue;
      line-height: 21px;
    }
    .button {
      padding: 5px 30px;
      border-radius: 4px;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-white;
      background: $color-blue;
      line-height: 21px;
      cursor: pointer;
    }
  }
  .__list__comment {
    .__info {
      display: flex;
      align-items: center;
      line-height: 21px;

      .avt {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-transform: uppercase;
        color: $color-black;
        background: #ddd;
        font-weight: 700;
        display: flex;
        justify-content: center;
        line-height: 21px;
        align-items: center;
      }
      .name {
        font-weight: 700;
        line-height: 21px;
        margin-left: 10px;
      }
    }
    .__content {
      font-size: 14px;
      line-height: 21px;
      margin-top: 10px;
    }
    .__action {
      display: flex;
      align-items: center;
      line-height: 21px;
      margin-top: 10px;
      .btn-primary {
        color: $color-blue;
        i {
          color: #999;
          margin-right: 5px;
          cursor: pointer;
        }
      }
      .space {
        margin: 0 20px;
        color: #999;
      }
      .time {
        color: #999;
      }
    }
    .__reply {
      padding: 15px;
      position: relative;
      background: #f1f1f1;
      border-radius: 6px;
      margin-top: 15px;
      &::after {
        content: "";
        width: 15px;
        height: 15px;
        background-color: #f1f1f1;
        position: absolute;
        transform: rotate(45deg);
        left: 15px;
        top: -8px;
      }
      .admin {
        border-radius: 4px;
        background: $color-yellow;
        padding: 0px 4px;
        margin-left: 15px;
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    .__comment {
      margin: 0px 0px;
      border: none;
      padding: 10px;
      .__input {
        textarea {
          width: 100%;
          border: none;
          border: thin solid #eeee;
          &:focus {
            border: none;
            border: thin solid #eeee;
            outline: none;
          }
        }
      }
      .__post__comment {
        border: thin solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 5px;
        a {
          color: $color-blue;
          line-height: 21px;
        }
        .button {
          padding: 5px 30px;
          border-radius: 4px;
          font-weight: 700;
          text-transform: uppercase;
          color: $color-white;
          background: $color-blue;
          line-height: 21px;
          cursor: pointer;
        }
      }
      .__info {
        line-height: 24px;
        margin: 10px 5px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        .sex {
          label {
            cursor: pointer;
            margin-right: 20px;
          }
        }
        .__about {
          input {
            margin-top: 10px;
            padding: 8px 10px;
            margin-left: initial;
            width: 100%;
            border: thin solid #eee;
            border-radius: 4px;
            &:focus {
              border: thin solid #eee;
              outline: none;
            }
            &:nth-child(2) {
              width: 100%;
            }
          }
        }
      }
    }
    .__list__comment {
      padding: 10px;
      .__content {
        font-size: 14px;
        line-height: 21px;
        margin-top: 10px;
      }
      .__action {
        display: flex;
        align-items: center;
        line-height: 21px;
        margin-top: 10px;
        .btn-primary {
          color: $color-blue;
          i {
            color: #999;
            margin-right: 5px;
            cursor: pointer;
          }
        }
        .space {
          margin: 0 20px;
          color: #999;
        }
        .time {
          color: #999;
        }
      }

      .__reply {
        padding: 15px;
        position: relative;
        background: #f1f1f1;
        border-radius: 6px;
        margin-top: 15px;
        max-width: 100%;
        &::after {
          content: "";
          width: 15px;
          height: 15px;
          background-color: #f1f1f1;
          position: absolute;
          transform: rotate(45deg);
          left: 15px;
          top: -8px;
        }
        .admin {
          border-radius: 4px;
          background: $color-yellow;
          padding: 0px 4px;
          margin-left: 15px;
          font-size: 12px;
        }
      }
    }

    .new {
      margin-top: 20px;
      &__container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        .sub__menu {
          display: flex;
          overflow-x: auto;
          flex-wrap: nowrap;
          &__item {
            padding: 5px 15px;
            border-radius: 4px;
            margin-bottom: 10px;
            width: max-content;
            a {
              color: $color-gray;
              font-weight: 600;
              line-height: 21px;
              font-size: 16px;
              white-space: nowrap;
            }
          }
          &__item-active {
            padding: 5px 15px;
            background: $color-yellow;
            a {
              color: $color-gray;
              font-weight: 600;
              line-height: 21px;
              font-size: 16px;
            }
          }
        }
      }
      &__header {
        font-weight: 700;
        text-transform: uppercase;
        line-height: 24px;
        color: $color-gray;
        padding: 6px 10px;
        width: 100%;
        background: $color-bg;
        border-bottom: thin solid #eeee;
      }
      .content {
        width: 100%;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        .new__content {
          border: thin solid #eee;
          &__first {
            padding: 10px;
            font-size: 16px;
            line-height: 24px;
            strong {
              font-weight: 600;
            }
          }
        }
        .new__post {
          display: flex;
          align-items: flex-start;
          padding: 10px;
          width: 100%;
          &__img {
            width: 100%;
            aspect-ratio: 16/10;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &__content {
            margin-left: 15px;
            .__title {
              font-size: 15px;
              font-weight: 600;
              line-height: 23px;
              margin-bottom: 8px;
              color: $color-gray;
            }
            .__action {
              display: flex;
              margin-bottom: 10px;
              &__child {
                margin-right: 25px;
                display: flex;
                align-items: center;
                .icon {
                  margin-right: 5px;
                  color: #ccc;
                }
                .text {
                  line-height: 21px;
                  color: $color-gray;
                }
              }
            }
            .__sub {
              display: -webkit-box;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 21px;
              color: $color-gray;
              font-weight: 500;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              color: $color-gray;
            }
          }
        }
        .new__post__first {
          display: flex;
          flex-direction: column;
          .new__post__img {
            width: 100%;
            aspect-ratio: 16/8;
          }
          .new__post__content {
            margin-left: 0px;
            .__title {
              font-size: 18px;
              font-weight: 700;
              line-height: 30px;
              margin-bottom: 8px;
            }
          }
        }
      }

      &__article {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
