.sim__wrap {
  border: thin solid #eee;
  padding: 15px;

  .sim__info {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: thin solid #eee;
    padding-bottom: 20px;
    &__left {
      width: 75%;
      display: flex;
      align-items: center;
      .img {
        width: 56px;
        aspect-ratio: 1/1;
        margin-right: 15px;
        margin-left: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .__info {
        .number {
          font-weight: 700;
          line-height: 24px;
          color: #d0021a;
          font-size: 16px;
        }
        .text {
          color: #333333;
          font-size: 14px;
          line-height: 21px;
          margin: 0px 0px 4px;
        }
        .time {
          color: #219653;
          font-size: 12.6px;
          line-height: 18.9px;
          margin: 0px 0px 4px;
        }
      }
    }
    &__right {
      width: 25%;
      .discount {
        text-decoration: line-through;
        color: #333333;
        line-height: 24px;
        font-size: 16px;
        margin: 0px 0px 4px;
      }
      .price {
        font-size: 16px;
        color: #d0021a;
        line-height: 24px;
        margin: 8px 0px 4px;
      }
    }
  }
  .sim__total {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 15px;
    &__left {
      width: 75%;
      padding-left: 10px;
      .text {
        color: #333333;
        font-size: 14px;
        line-height: 21px;
        margin: 0px 0px 4px;
        .primary {
          color: $color-blue;
        }
      }
      .total {
        color: #333333;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        font-weight: 700;
      }
    }
    &__right {
      width: 25%;
      .discount {
        color: #4a90e2;
        font-size: 14px;
        line-height: 21px;
        margin: 0px 0px 4px;
      }
      .price {
        font-size: 16px;
        color: #d0021a;
        line-height: 21px;
        margin: 8px 0px 4px;
        font-weight: 700;
      }
    }
  }
}
.sim__infocustomer {
  margin-top: 20px;
  border: thin solid #eee;
  form {
    padding: 15px;
    .gender {
      display: flex;
      align-items: center;
      line-height: 21px;
      margin-bottom: 10px;
      label {
        margin-right: 20px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    input,
    select {
      padding: 5px;
      border: thin solid #eee;
      line-height: 21px;
      border-radius: 4px;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    .name {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      input {
        width: 48%;
      }
    }
    .text__address {
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .select__about {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      select {
        width: 48%;
      }
    }
    .street {
      margin-bottom: 10px;
    }
    .radio__custom {
      margin-bottom: 10px;
      input {
        width: max-content;
      }
      label {
        margin-right: 20px;
        margin-left: 5px;
        line-height: 21px;
        cursor: pointer;
      }
    }
    .button {
      width: max-content;
      padding: 10px 70px;
      border-radius: 4px;
      font-size: 13.3333px;
      line-height: 17.3333px;
      text-align: center;
      margin: 50px auto 20px;
      color: #ffff;
      background-color: #ff821e;
      cursor: pointer;
      .uppercase {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
      }
      .text {
        line-height: 21px;
      }
    }
  }
}
.sim__progess {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px 20px;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #eeee;
        top: 25px;
        left: 35px;
        position: absolute;
        z-index: -1;
      }
      &:nth-child(4) {
        &::after {
          width: 0;
          height: 0;
        }
      }
      .number {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #eeeeee;
        color: #333333;
        font-weight: 700;
      }
      .text {
        color: #333333;
        font-size: 14px;
        line-height: 21px;
        margin-top: 10px;
      }
    }
  }
}
.thutuc {
  border: thin solid #eee;
  ul {
    padding: 10px;
    li {
      line-height: 21px;
      margin-bottom: 10px;
    }
  }
}
.ynghia {
  border: thin solid #eee;
  margin-top: 20px;
  ul {
    padding: 10px;
    li {
      line-height: 28px;
      margin-bottom: 10px;
      i {
        color: #4a90e2;
        margin-right: 15px;
        font-size: 16px;
      }
    }
  }
  .text {
    line-height: 21px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
