// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");
@import "_header.scss";
@import "_footer.scss";
@import "_main.scss";
@import "_new.scss";
@import "_contact.scss";
@import "_filter.scss";
@import "_sim-detail.scss";

$size: 14px;

* {
  font-size: $size;
  font-weight: 400;
  font-family: Helvetica, Arial, DejaVu Sans, Liberation Sans, Freesans,
    sans-serif;
  // font-family: "Nunito Sans", sans-serif !important;
}
